@page "/"
@using RazorClassLibrary

<h1>@this._message</h1>

<CascadingValue Value='new Theme() { DefaultButtonCssClass = "btn-warning" }'>
  <JavaScriptPrompt Message="@this._message"></JavaScriptPrompt>
  <EnhancedCasePolicyEditor></EnhancedCasePolicyEditor>
</CascadingValue>


@code {
  private string _message = "Hello, world WASM!";
}
