@using Bsp.Case

<h2>
  CASE Policy Editor
</h2>


<pre>
<textarea @bind="this._policyXml" @oninput="this.PolicyXmlChangedAsync" rows="10" cols="80"></textarea>
</pre>
<div>
  <span class="alert-danger">@_errorMessage</span>
</div>
<div>
  <CasePolicyViewer @bind-Policy="this.Policy"></CasePolicyViewer>
</div>


@code {

  [Parameter]
  public Policy Policy { get; set; }

  [Parameter]
  public EventCallback<Policy> PolicyChanged { get; set; }


  private string _policyXml;
  private string _errorMessage;

  protected override Task OnInitializedAsync()
  {
    this.Policy = Policy.LoadResource("RazorClassLibrary.Resources.DocumentApproval.casepolicy", this.GetType().Assembly);
    this._policyXml = this.Policy.GetXml();

    return Task.CompletedTask;
  }


  private async Task PolicyXmlChangedAsync(ChangeEventArgs e)
  {
    await Task.Yield();

    try
    {
      this._errorMessage = "";
      string xml = e.Value.ToString();
      Policy updatedPolicy = Policy.ParseXml(xml);
      this.Policy = updatedPolicy;
    }
    catch (Exception ex)
    {
      this._errorMessage = ex.GetBaseException().Message;
    }
  }
}
