<h2>Enhanced CASE Policy Editor</h2>

<ThemedDefaultButton OnClick="@(async () => await this?.Theme.ChangeThemeAsync())">
  <Content>Change Theme!</Content>
</ThemedDefaultButton>
<CasePolicyEditor></CasePolicyEditor>


@code {

  [CascadingParameter]
  public Theme Theme { get; set; }
}
